*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: gray;
}

.card{
    width:50%;
    background: #393838;
    color: white;
    padding: 20px;
    margin: 20px;
    line-height: 20px;
    font-family: sans-serif;
}
p{
    font-weight: lighter;
}

/*scroolbar*/

::-webkit-scrollbar{
    background: black;
    width:8px;
   
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 100px;
}